:root {
  --primary: #8692f7;
  --primary-dark: #7b85e2;
  --accent: white;
  --accent-dark: #f0f0f0;
  --warning: #F78688;
  --input-background: #f2f2f2;
  --separator: #ebebeb;


  /* --wait: #ff9090;
  --play: #16ff76;
  --your-turn: #16ff76;
  --not-your-turn: #F4B400; */
  --wait: #f7a4a4;
  --play: #b4c9a7;
  --expired: #f56f6f;
  --your-turn: #b4c9a7;
  --not-your-turn: #f4b400;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
hr {
  border: 0;
  height: 4px;
  background-color: var(--separator)
}

a {
  text-decoration: underline;
}
a.primary-link {
  color: var(--accent);
}
a.accent-link {
  color: var(--primary);
}

.container {
  background-color: var(--primary);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 420px;
  width: 100%;
}

.section {
  border-radius: 32px;
  background-color: white;
  padding: 64px 40px 44px 40px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 20px 0px
}

h1 {
  margin: 0px 0px 28px 0px;
  font-size: 36px;
}

h1.empty {
  display: flex;
  justify-content: center;
  min-height: 256px;
  align-items: center;
  color: #ccc;
}

.header > h2 {
  margin: 0px;
}

button, input {
  border: none;
  border-radius: 4px;
  margin: 4px 0;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
input {
  padding: 12px;
  width: 100%;
  background-color: var(--input-background);
}
input:focus {
  outline: solid 4px var(--primary);
}
.btn {
  font-weight: bold;
  padding: 12px 36px;
  cursor: pointer;
}
.btn:disabled {
  cursor: no-drop;
  opacity: 0.6;
}
.large-btn {
  width: 100%;
}
.small-btn {
  padding:8px 28px;
}
.primary-btn {
  background-color: var(--primary);
  color: white;
}
.primary-btn:hover {
  background-color: var(--primary-dark);
}
.accent-btn {
  background-color: white;
  color: var(--primary);
}
.accent-btn:hover {
  background-color: var(--accent-dark);
}
.tab-btn-container {
  display: flex;
}
.tab-btn {
  padding: 12px 0px;
  color: var(--primary);
  background-color: white;
  flex: 1;
  border-bottom: 4px solid var(--accent-dark)
}
.tab-btn.active {
  border-bottom: 4px solid var(--primary);
}

label {
  margin: auto 2px;
  font-size: 14px;
}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}

.form-field {
  margin-bottom: 24px;
}
.warning {
  color: var(--warning);
  font-size: 14px;
  margin: 10px 2px;
}
.register-link {
  color: white;
  text-align: center;
}
span.game-status {
  padding: 8px 20px;
  margin: 8px 0px;
  font-size: 12px;
  display: inline-block;
  border-radius: 8px;
  color: white;
}
span.game-status.wait {
  background-color: var(--wait);
}
span.game-status.play {
  background-color: var(--play);
}
span.game-status.expired {
  background-color: var(--expired);
}
span.game-status.your-turn {
  background-color: var(--your-turn);
}
span.game-status.not-your-turn {
  background-color: var(--not-your-turn);
}
h1.result-message {
  margin: 36px;
  text-align: center;
}

.board-btn-container {
  width: 100%;
  aspect-ratio: 1/1;
}

.board-btn-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.board-btn {
  border: none;
  border-radius: 8px;
  font-size: 52px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-up {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 8px 0px;
}

.match-up > .player-name {
  margin: 0px ;
  font-size: 18px;
  max-width: 150px; /* Adjust as needed */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
.match-up > .vs {
  margin: 0px 8px;
}
.match-up > .btn-container {
  margin-left: auto;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 16px 20px;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: var(--primary);
  border-radius: 16px;
  color: white;
}
.scoreboard > .player {
  text-align: center;
  width: 40%;
  padding: 8px 8px 2px 8px;
}
.scoreboard > .player.user {
  border-radius: 12px;
  background-color: var(--primary-dark);
}
.scoreboard > .player > .player-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scoreboard > .player > .player-score {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.scoreboard > .vs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.avatar {
  box-shadow: 0px 10px 20px 4px rgb(0 0 0 / 20%);
}